
.search-loader-row{
	display:none;
}

.search-loader-row.loading {
  display:block;
}

.search-loader-container {
  display: table;
  width: 100%;
}

.search-loader-inner {
  display: table-cell;
  text-align: center;
  //vertical-align: middle;  // in case we need to center vertically
}