
@import "./app_mixins";

.search-panel-container{
  position:fixed;
  width:100%;
  height:100%;
  z-index:10;
  background-color:rgba(0,0,0,.9);
  top:0;
  left:0;
  color:white;
  //display:none;
  visibility:hidden;
	overflow-y:auto;
	opacity:0;
	@include transition(opacity 1s ease);
}

.search-panel-inner{
	padding-bottom:20px;
}

.search-field{
  background-color:transparent;
  font-size:60px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight:bold;
  border:none;
  margin: 10px 0;
  padding: 10px;
  line-height: 60px;
  text-transform: uppercase;
  width:100%;
}

h2.search-header{
	font-size:20px;
}

h6.search-subheader{
	font-size:14px;
	font-style:italic;
	color:#bbbbbb;
}


.search-panel-container.active{
	display:block !important;
	opacity:1;
	visibility:visible;
}

.search-field:focus {
  outline: 0;  
  background-color:rgba(0,0,0,.3);
}


body.searching{
	overflow:hidden;
}