

.search-panel-thumbnail{
	background-color:transparent;
	border:none;
}

.search-panel-thumbnail img{
	padding-right:15px;
}

.search-panel-thumbnail .caption{
	color:white;
}

.search-panel-thumbnail .caption a{
	color:#dddddd;
	text-decoration:none;
}
.search-panel-thumbnail .caption a:hover{
	color:white;
	text-decoration:none;
}

.search-panel-thumbnail .caption p{
	color:#bbbbbb;
}

